@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.font-1 {
  font-family: Courgette, Arial, Helvetica, sans-serif;
}

.font-2 {
  font-family: Ananda, Courgette, Arial, Helvetica, sans-serif;
}

.font-3 {
  font-family: helvetica, arial, sans-serif;
}
